# For PCBs designed using KiCad

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*-cache*
*-bak
*-bak*
*~
~*
_autosave-*
#auto_saved_files#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck

# Netlist files
*.net

# Autorouter files
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Archived Backups
**/*-backups/*.zip

# Local git-based history
.history/
**/.history/

# Local project settings
*.kicad_prl

# OS files
.DS_Store
Thumbs.db

# Lock files
*.lck

# Reports
*.rpt
*.rpts
*.pcode